.stamina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    li {
        label {
            margin-right: 4px;
            white-space: normal;
        }
        input {
            font-size: 14px;
            color: white;
            padding: 0;
        }
    }
}
